* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(48, 48, 48);
}
.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 1450px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_display {
    width: 1450px;
    height: 100px;
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.blocksDisplay {
    width: 25%;
    background-color: rgb(12, 12, 12);
    color: rgb(108, 235, 108);
    padding-top: 35px;
    border-top-left-radius: 60px;
}
.infoDisplay {
    width: 50%;
    background-color: rgb(20, 20, 20);
    text-align: center;
    color: orange;
    padding-top: 35px;
}
.logsDisplay {
    width: 25%;
    background-color: rgb(12, 12, 12);
    border-top-right-radius: 60px;
}
.logsDisplay_text {
    text-align: center;
    color: rgb(244, 67, 23);
    padding-top: 35px;
    font-weight: 100;
    font-style: italic;
    opacity: 0.4;
}


.container_left, .container_right {
    width: 300px;
    height: 600px;
    background-color: rgb(83, 142, 158);
    display: flex;
    flex-direction: column;
}
.container_left_top-tittle, .container_right-tittle {
    width: 100%;
    height: 60px;
    background-color: rgb(12, 12, 12);
    text-align: center;
    padding-top: 15px;
    color: gray;
}
.container_left_top, .container_right_top {
    width: 100%;
    display: flex;
    align-content: start;
    flex-wrap: wrap;
}
.item_left, .item_right {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 0;
    color: rgba(255, 255, 255, 1);
    background-color: rgb(60, 74, 78);
}
.item_right {
    font-size: 60px;
    text-shadow: 2px 2px 4px #2a2a2a;
}
.item_left:hover, .item_right:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.item_left-img {
    max-width: 60%;
    max-height: 60%;
    border: solid rgb(45, 45, 45) 3px;
    border-radius: 30px;
}
.item_left-active, .item_right-active {
    position: relative;
    top: -5px;
    left: -5px;
    border: solid 4px white;
}
.item_left-finished {
    background-color: rgb(165, 252, 136);
}
.item_right:hover {
    opacity: 0.6;
}


.container_middle {
    width: 810px;
    height: 600px;
    margin: 20px;
    background-color: rgb(42, 42, 42);
    display: flex;
    flex-direction: column;
}
.container_middle-tittle {
    width: 100%;
    height: 60px;
    background-color: rgb(20, 20, 20);
    text-align: center;
    padding-top: 15px;
    color: gray;
}
.container_middle_top {
    width: 100%;
    display: flex;
    align-content: start;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.container_middle-finished {
    font-size: 140px;
    color: rgba(249, 249, 249, 0.8);
    text-shadow: 2px 2px 40px #2a2a2a;
    position: absolute;
    z-index: 1;
}
.item_middle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(103, 103, 103);
    font-size: 30px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.4);
    text-shadow: 2px 2px 4px #2a2a2a;
}
.item_middle:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.item_middle-active {
    position: relative;
    top: -1px;
    left: -1px;
    box-shadow: 5px 5px 5px 0.8px rgb(25, 25, 25);
    z-index: 1;
}
.item_middle-level_1 {
    width: 270px;
    height: 270px;
}
.item_middle-level_2 {
    width: 270px;
    height: 180px;
}
.item_middle-level_3 {
    width: 90px;
    height: 90px;
}


footer {
    width: 1450px;
    height: 100px;
    background-color: rgb(17, 17, 17);
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
}
.footer_h2 {
    color: gray;
    text-align: center;
    padding-top: 35px;
}
